.full {
    display: flex;
    justify-content: center;
}
.header{
    /* opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px); */
    display: block;
    /* transition: opacity 200ms ease 0s, transform 600ms ease 0s; */
}
.china {
    text-decoration: line-through;
}
.footer{
    margin-top: 100px;
}

.socialFlex{
    display: flex;
    flex-direction: row;

}

.socialFlex a{
    text-decoration: none;
    color: black;
}

.landingH3 {
    width: 100%;
    color: #323649;
    font-size: 22px;
    text-align: left;
}

.landingH4 {
    color: rgba(91,94,110,.59);
    font-size: 22px;
    line-height: 1.5;
    font-weight: 300;
    text-align: left;
    margin-right: auto;
    margin-bottom: 3%;
    margin-left: auto;
}

.img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-size: contain;
    }
    
.img:hover {
-webkit-transform: scale(1.10);
-moz-transform: scale(1.10);
-o-transform: scale(1.10);
-ms-transform: scale(1.10);
transform: scale(1.10);
}

.center {
    display: block;
    margin-left: 100px;
    margin-right: auto;
    width: 50%;
}

.bio{
    margin: auto;
    width: 70%;
    padding: 10px;
    min-width: 500px;
}

.technologies{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.stack{
    margin-left:30px;
}


